.cardContainer{
  position: relative;
  width: 100%;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, 288px);
  align-content: space-between;
  justify-content: space-between;
  gap: 24px;
}

// @media only screen and (max-width: 768px){
//   .cardContainer{
//     display: flex;
//     flex-direction: column;
//   }
// }

@media screen and (max-width: 1200px){
  .cardContainer {
    width: 936px;
    grid-template-columns: repeat(auto-fit, 216px);
  }
}

@media screen and (max-width: 990px){
  .cardContainer {
    width: 730px;
    display: block;
    // align-items: stretch;
    // grid-template-columns: repeat(auto-fit, 216px);
  }
}

@media screen and (max-width: 769px){
  .cardContainer {
    width: 95%;
    display: flex;
    flex-direction: column;
    // grid-template-columns: repeat(auto-fit, 216px);
  }
}


