.cardContainer{
  position: relative;
  width: 100%;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, 288px);
  align-content: space-between;
  justify-content: space-between;
  gap: 24px;
}

// @media only screen and (max-width: 768px){
//   .cardContainer{
//     display: flex;
//     flex-direction: column;
//   }
// }
