<div class="card" [class.no-img]="type != 'with_img' && type != 'video'">

  <div *ngIf="type =='with_img' || type =='video'" class="img-container">
    <div>
      <img *ngIf="type =='video'" class="video" src="/assets/img/icons/play_button.svg">
      <img class="image" src={{img_src}}>
    </div>
  </div>

  <div class="content">

    <div class="date">{{date | date: 'dd.MM.YYYY'}}</div>

    <div class="header">
      <h2>{{title}}</h2>
    </div>

    <div class="bottom">
      <div class="read-more">read more</div>
    </div>

    <div *ngIf="type =='with_img' || type =='video'" class="divider"></div>

  </div>

</div>
