.container{
  margin: auto;
  width: 80%;
  z-index: 2;
}

.background-block{
  z-index: -1;
  position: absolute;
  top: 0%;
  height: 90vh;
  width: 100%;
  padding: 0%;
  margin: 0%;
  background-color: #E4E4EF;
}

.news-latest-header{
  // font-size: 56px;
  margin-top: 3rem;
}

.news-latest-header h2{
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 3rem;
  color: #202020;
  margin-bottom: 1rem;
}

.news-latest a{
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 1.5rem;
  color: #F7F7FA;
  margin-bottom: 1rem;
  text-decoration: none;

  // position:relative;
  // bottom:0;
}

.news-latest{
  display: grid;
  // justify-items: stretch;
  // position: absolute;
  // top: 10%;
}

.news-main{
  grid-column: 1 / 8;
  position: relative;
  // min-height: 400px;
  // max-height:100%;
  // max-width:100%;
}

.news-main img{
  height: 500px;
  // object-fit: contain;
  object-fit: cover;
}

.news-main-content-date{

}

.news-main-content {
  position: absolute;
  bottom: 8px;
  left: 16px;
  max-width: 100%;

}

.img-container{
  // background-image: url("/assets/img/thumb.png");
  // background-size: contain;
  // background-repeat: no-repeat;
  max-width: 100%;
  // width: 200px;
  height: 500px;
  object-fit: contain;


}

.news-main-side-card{
  grid-column: 8 / 12;
}



.cardContainer{
  width: 90%;
  margin: auto;
}


