*{
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: bold;
  color: #202020;
}

.news-container{
  margin-right: auto;
  margin-left: auto;
  padding-right: 1rem;
  padding-left: 1rem;
  height: 100%;
  // width: 100%;
  // z-index: 2;
}

.news h1{
  font-size: 3.5rem;
  color: #202020;
  margin-bottom: 2rem;
  margin-top: 3rem;
  letter-spacing: -0.02em;
}

.news h2{
  font-size: 28px;
  margin-top: 3rem;
  margin-bottom: 2rem;
}

.news-latest{
  display: flex;
  // flex-wrap: nowrap;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
  // justify-items: stretch;
  // position: absolute;
  // top: 10%;
  gap: 24px;
  min-height: 513px;
  // padding: 1rem;
}

.news-latest a{
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 1.5rem;
  color: #F7F7FA;
  margin-bottom: 1rem;
  text-decoration: none;
}

.news-latest .main{
  width: 68%;

  background-image: url("/assets/img/thumb.png");
  background-size: contain;
  background-repeat: no-repeat;

  position: relative;
  // height: 100%;
  // min-height: 513px;

  // max-width:100%;
  // max-height: 100%;
}

.news-latest .main-xs{
  background-image: url("/assets/img/thumb.png");
  background-size: contain;
  background-repeat: no-repeat;

  display: none;
  flex-direction: column;
  align-items: flex-start;
  // padding: 24px;
  position: relative;
}

.news-latest .side-card{
  width: 32%;
}

.news-main-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.news-main-content .date{
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  color: #EFEFF5;
  margin: 16px 0px;
}

.news-main-content .header{
  position: absolute;
  bottom: 0%;
  padding: 24px 24px 48px;

  /* Gradients/BgBlurGradient */
  background: linear-gradient(180deg, rgba(51, 50, 56, 0) 0%, rgba(50, 50, 56, 0.8) 100%);
  /* BgBlur */
  backdrop-filter: blur(2px); //much better than 6.
  /* Note: backdrop-filter has minimal browser support */
  border-radius: 0px 0px 6px 6px;
}


@media only screen and (max-width: 768px){
  .news h1{
    font-size: 2rem;
  }

  .news-latest{
    flex-direction: column;
  }

  .news-latest .main{
    display: none;
    height: 391px;
  }

  .news-latest .main-xs{
    display: block;
  }

  .news-latest .side-card{
    width: 100%;
  }
}

@media (max-width: 990px){
  .news-container {
    width: 750px;
    // margin: auto;
  }
  .news-latest .main{
    // height: 391px;
    // background-color: aqua;
  }
}

@media (min-width: 1200px){
  .news-container {
    width: 1170px;
    // margin: auto;
  }
}

@media only screen and (min-width: 1280px){
  .news-container {
    width: 1224px;
    // margin: auto;
  }
}



// .img-container{
//   max-width: 100%;
//   // width: 200px;
//   height: 500px;
//   object-fit: contain;
// }

// .news-main img{
//   min-height: 400px;
//   // height: 500px;
//   // object-fit: contain;
//   object-fit: cover;
// }

// @media (min-width: 768px){
//   .news-container {
//     width: 750px;
//     // margin: auto;
//   }
//   .news-latest .main{
//     // height: 391px;
//     background-color: blueviolet;
//   }
// }
