<div class="news">

  <div class="news-container">
    <h1>Latest news</h1>
  </div>

  <div class="news-container">
    <div class="news-latest">

      <div class="main">
        <div class="news-main-content">
          <div class="header">
            <div class="date">24.03.2021</div>
            <a href="#">United Robots partner with Polish Academy of Sciences to produce an autonomous AI robot leading the fight against COVID-19</a>
          </div>
        </div>
      </div>

      <div class="main-xs">
        <div>
          <img src="/assets/img/thumb.png" alt="">
        </div>
        <div class="content">
          <div class="date">24.03.2021</div>
          <a href="#">United Robots partner with Polish Academy of Sciences to produce an autonomous AI robot leading the fight against COVID‑19</a>
        </div>
      </div>

      <div class="side-card">
        <app-news-card [_cardContent]=sideNews></app-news-card>
      </div>

    </div>
  </div>

  <div class="news-container">
    <h2>Previous stories</h2>
  </div>

  <div class="news-container">
    <app-previous-stories></app-previous-stories>
  </div>

</div>
