*{
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: bold;
  color: #202020;
}

.news-container{
  width: 1224px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 1rem;
  padding-left: 1rem;
}

.news h1{
  font-size: 3.5rem;
  color: #202020;
  margin-bottom: 2rem;
  margin-top: 3rem;
  letter-spacing: -0.02em;
}

.news h2{
  font-size: 28px;
  margin-top: 3rem;
  margin-bottom: 2rem;
}

.news-latest{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 24px;
  min-height: 513px;
}

.news-latest a{
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 1.5rem;
  color: #F7F7FA;
  margin-bottom: 1rem;
  text-decoration: none;
}

.news-latest .main{
  position: relative;
  width: 66%;

  background-image: url("/assets/img/thumb.png");
  background-size: contain;
  background-repeat: no-repeat;
}

.main-xs{
  display: none;
  position: relative;
  width: 100%;

  flex-direction: column;
  align-items: flex-start;
}

.main-xs img{
  object-fit: cover;
  display: inline-block;
  max-height:100%; max-width:100%
}

.main-xs .content{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 24px;
  background: #EFEFF5;
}

.news-main-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.date{
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  color: #EFEFF5;
  margin: 16px 0px;
}

.main-xs .date{
  color: #202020;
}

.news-main-content .header{
  position: absolute;
  bottom: 0%;
  padding: 24px 24px 48px;
  /* Gradients/BgBlurGradient */
  background: linear-gradient(180deg, rgba(51, 50, 56, 0) 0%, rgba(50, 50, 56, 0.8) 100%);
  /* BgBlur */
  backdrop-filter: blur(2px); //much better than 6.
  /* Note: backdrop-filter has minimal browser support */
  border-radius: 0px 0px 6px 6px;
}

@media screen and (max-width: 1280px){
  .news-container {
    width: 936px;
  }
  .news-latest{
    min-height: 391px;
  }
}

@media screen and (max-width: 990px){

  .news-container {
    width: 730px;
  }
  .news-latest a{
    color: #202020;
  }
  .news-latest .main{
    display: none;
  }
  .main-xs{
    display: flex;
  }
}

@media screen and (max-width: 769px){
  .news h1{
    font-size:28px;
  }
  .news-container {
    width: 90%;
    display: flex;
    flex-direction: column;
  }
  .news-latest{
    flex-direction: column;
  }
}
