<div class="background-block">
</div>

<div class="news">

  <div class="container">
    <div class="news-latest-header">
      <h2 >Latest news</h2>
    </div>
  </div>


  <div class="container">
    <div class="news-latest">

      <div class="news-main">
        <img src="assets/img/thumb.png" alt="">

        <div class="news-main-content">
          <div>
            24.03.2021
          </div>

          <a href="#">United Robots partner with Polish Academy of Sciences to produce an autonomous AI robot leading the fight against COVID-19</a>
        </div>

        <!-- <div class="img-container">
        </div>
        <div class="news-main-content">
        </div> -->
        <!-- <img src="assets/img/thumb.png"> -->
      </div>



      <div class="news-main-side-card">
        <img class="image" src="assets/img/Thumbnail.png">
      </div>


    </div>
  </div>

  <div class="container"></div>

  <!-- <div class="container">
    <h2>Previous stories</h2>
    <div class="cardContainer">
      <app-news-card></app-news-card>
    </div>

  </div> -->
</div>
